.home_popup_background{
  width: 100%;
  position: fixed;
  height: 100%;
  background-color:rgba(25, 25, 25, 0.347);
  z-index: 1;
}
.home_popup_container{
  flex-direction: column;
}
.App{
  color: white;
}
h3{
  margin: 0;
}
.home_popup{
  width:400px ;
  height: 250px;
  background: rgba(24, 23, 23, 0.72);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
  position: absolute;
  right: 20%;
  bottom: 0;
  border-radius: 4px;
  z-index: 3;
  padding: 15px;
}

.home_popup_top{
  width: 100%;
  display: flex;
  justify-content: end;

}

.home_popup_top_content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 20px;

}
.home_popup_top_content >.icon{
cursor: pointer;
font-size: 30px;
}
.home_popup_container >h3{
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.home_popup_container >h3 >span{
  font-size: 20px;
}

.home_popup_top_content >h3 >span{
  font-size: 28px;
}
.home_popup_container >p{
  font-weight: 100;
  font-size: 16px;
  text-align: center;
}
.popup_btn{
  width: 100%;
  display: flex;
  gap: 90px;
  align-items: center;
  justify-content: end;
}
.popup_btn >button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  font-size: 14px;
  gap: 5px;
  cursor: pointer;
  background-color: #032477;
  color: white;
  border: none;
  border-radius: 15px;
}
.popup_btn >a{
  color: #fce300;
  text-decoration: none;
}
.popup_btn >button >div{
  display: flex;
  align-items: center;
}
.popup_btn >button >.btn_icon{
  font-size: 12px;
}


@media screen and (max-width:1200px) {
  .home_popup{
    right: 27%;
  }
}
@media screen and (max-width:850px) {
  .home_popup{
    right: 35%;
  }
}
@media screen and (max-width:850px) {
  .home_popup{
    right: 37%;
  }
}
@media screen and (max-width:850px) {
  .home_popup{
    right: 37%;
  }
}
@media screen and (max-width:650px) {
  .home_popup{
    right: 43%;
  }
}
@media screen and (max-width:520px) {
  .home_popup{
    right: 45%;
  }
  .home_popup{
    width:280px ;
    height: 200px;
    padding: 10px 10px 20px 10px;
  }
  .home_popup_container >h3{
    margin-top: 10px;
  }
  .home_popup_container >h3{
    font-size: 16px;
  }
  .home_popup_container >p{
    font-size: 14px;
    text-align: center;
  }
  .home_popup_container >h3 >span{
    font-size: 18px;
  }
  .home_popup_top_content >.icon{
    cursor: pointer;
    font-size: 20px;
    }
    .popup_btn{
      width: 100%;
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: end;
    }
}